# Server Configuration
PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/suit_and_stitch?schema=public"

# JWT Authentication
JWT_SECRET="suit_and_stitch_super_secret_jwt_key_2026_luxury_atelier"
JWT_EXPIRES_IN="7d"
